name: Test

on:
  push:
    branches:
      - main

jobs:
  test_template:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      with:
        path: main
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: "3.12"
        cache: pip
    - name: Install dependencies
      run: |
        pip install -r main/requirements.txt
    - name: Run tests
      run: python -m pytest main/tests
